In [17]:
import pandas as pd
import seaborn as sns

In [18]:
df=pd.read_csv("iris.csv")

In [19]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
dummies = pd.get_dummies(df.species)
dummies.tail(10)

     setosa  versicolor  virginica
140       0           0          1
141       0           0          1
142       0           0          1
143       0           0          1
144       0           0          1
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

In [26]:
x=df.drop(['species'],axis=1)
y=df.species

In [28]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [29]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [39]:
dummies = pd.get_dummies(df.species)
dummies.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

In [40]:
inputs = pd.concat([x,dummies],axis='columns')
inputs.head(3)

,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [57]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [58]:
model.fit(X_train,y_train)

GaussianNB()

In [59]:
model.score(X_test,y_test)

0.9333333333333333

In [60]:
X_test[0:10]

     sepal_length  sepal_width  petal_length  petal_width
14            5.8          4.0           1.2          0.2
98            5.1          2.5           3.0          1.1
75            6.6          3.0           4.4          1.4
16            5.4          3.9           1.3          0.4
131           7.9          3.8           6.4          2.0
56            6.3          3.3           4.7          1.6
141           6.9          3.1           5.1          2.3
44            5.1          3.8           1.9          0.4
29            4.7          3.2           1.6          0.2
120           6.9          3.2           5.7          2.3

In [61]:
model.predict_proba(X_test[:10])

array([[1.00000000e+000, 7.30172724e-017, 1.92698897e-023],
       [1.83127445e-031, 9.99999349e-001, 6.50949259e-007],
       [6.64026638e-099, 9.71309470e-001, 2.86905301e-002],
       [1.00000000e+000, 4.50426332e-015, 5.93894621e-022],
       [1.24729705e-266, 1.50022255e-009, 9.99999998e-001],
       [1.25848413e-120, 4.97361143e-001, 5.02638857e-001],
       [8.22548006e-192, 6.90370263e-007, 9.99999310e-001],
       [1.00000000e+000, 3.05551312e-011, 3.69926602e-018],
       [1.00000000e+000, 1.34176387e-015, 8.87395065e-023],
       [1.55475502e-229, 2.00287031e-008, 9.99999980e-001]])

In [62]:
y_test[0:10]

14         setosa
98     versicolor
75     versicolor
16         setosa
131     virginica
56     versicolor
141     virginica
44         setosa
29         setosa
120     virginica
Name: species, dtype: object

In [63]:
model.predict(X_test)

array(['setosa', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'virginica', 'setosa', 'versicolor', 'virginica', 'versicolor'],
      dtype='<U10')

In [64]:
y_test

14         setosa
98     versicolor
75     versicolor
16         setosa
131     virginica
56     versicolor
141     virginica
44         setosa
29         setosa
120     virginica
94     versicolor
5          setosa
102     virginica
51     versicolor
78     versicolor
42         setosa
92     versicolor
66     versicolor
31         setosa
35         setosa
90     versicolor
84     versicolor
77     versicolor
40         setosa
125     virginica
99     versicolor
33         setosa
19         setosa
73     versicolor
146     virginica
91     versicolor
135     virginica
69     versicolor
128     virginica
114     virginica
48         setosa
53     versicolor
28         setosa
54     versicolor
108     virginica
112     virginica
17         setosa
119     virginica
103     virginica
58     versicolor
Name: species, dtype: object

In [65]:
model.predict_proba(X_test[:10])

array([[1.00000000e+000, 7.30172724e-017, 1.92698897e-023],
       [1.83127445e-031, 9.99999349e-001, 6.50949259e-007],
       [6.64026638e-099, 9.71309470e-001, 2.86905301e-002],
       [1.00000000e+000, 4.50426332e-015, 5.93894621e-022],
       [1.24729705e-266, 1.50022255e-009, 9.99999998e-001],
       [1.25848413e-120, 4.97361143e-001, 5.02638857e-001],
       [8.22548006e-192, 6.90370263e-007, 9.99999310e-001],
       [1.00000000e+000, 3.05551312e-011, 3.69926602e-018],
       [1.00000000e+000, 1.34176387e-015, 8.87395065e-023],
       [1.55475502e-229, 2.00287031e-008, 9.99999980e-001]])