
# Pandas

In [1]:
import pandas as pd

# series
like a column in a table/dataframe

In [2]:
#creating a series
days=['Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday','Sunday']
my_series=pd.Series(days,index=range(1,8))
#my_series=pd.Series(days,index=[10,11,12,13,14,15])
print(my_series)
type(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thrusday
5       Friday
6     Saturday
7       Sunday
dtype: object

pandas.core.series.Series

In [3]:
#creating series using dictionary
dict={'1':'monday','2':'Tuesday','3':'wednesday','4':'thrusday','5':'friday','6':'saturday','7':'sunday'}
ser=pd.Series(dict)
ser

1       monday
2      Tuesday
3    wednesday
4     thrusday
5       friday
6     saturday
7       sunday
dtype: object

In [4]:
dict={'1':['monday','a'],'2':['Tuesday','b'],'3':'wednesday','4':'thrusday','5':'friday','6':'saturday','7':'sunday'}
ser=pd.Series(dict)
ser

1     [monday, a]
2    [Tuesday, b]
3       wednesday
4        thrusday
5          friday
6        saturday
7          sunday
dtype: object

# Dataframes
dataframes is most commonly used object in  pandas. it is a table like datastructure containing rows and columns simlilar to excel spreadsheet

In [5]:
#creating a dataframe using a dictionary
max_temp=[18,19,20,21,16,21,22]
min_temp=[10,13,12,8,7,11,21]
event=['Rain','thunderstorm','rain','sunny','fog','fog','rain']
windspeed=[10,14,8,14,18,11,14]
weather={'days':days, 'max temperature':max_temp, 'min temperature':min_temp,'windspeed':windspeed,'Events':event}
df=pd.DataFrame(weather,index=range(1,8))
df

        days  max temperature  min temperature  windspeed        Events
1     Monday               18               10         10          Rain
2    Tuesday               19               13         14  thunderstorm
3  Wednesday               20               12          8          rain
4   Thrusday               21                8         14         sunny
5     Friday               16                7         18           fog
6   Saturday               21               11         11           fog
7     Sunday               22               21         14          rain

# exporting a dataframe to a csv file

In [21]:
df.to_csv('weather data.csv')

# Importing from a csv file

In [23]:
new_df=pd.read_csv('weather data.csv')

In [24]:
new_df

,Unnamed: 0,days,max temperature,min temperature,windspeed,Events,humidity
0,1,Monday,18,10,10,Rain,34
1,2,Tuesday,19,13,14,thunderstorm,5
2,3,Wednesday,20,12,8,rain,67
3,4,Thrusday,21,8,14,sunny,87
4,5,Friday,16,7,18,fog,90
5,6,Saturday,21,11,11,fog,67
6,7,Sunday,22,21,14,rain,34

In [9]:
a,b=new_df.shape
print('no of rows',a,'no of column',b)

no of rows 7 no of column 6

In [10]:
new_df.columns

Index(['Unnamed: 0', 'days', 'max temperature', 'min temperature', 'windspeed',
       'Events'],
      dtype='object')

# operations on dataframe

In [11]:
new_df.max()

Unnamed: 0                    7
days                  Wednesday
max temperature              22
min temperature              21
windspeed                    18
Events             thunderstorm
dtype: object

In [12]:
new_df[['windspeed','days']].max()

windspeed           18
days         Wednesday
dtype: object

In [13]:
new_df['windspeed']>10

0    False
1     True
2    False
3     True
4     True
5     True
6     True
Name: windspeed, dtype: bool

In [14]:
new_df[new_df['windspeed']>10]

,Unnamed: 0,days,max temperature,min temperature,windspeed,Events
1,2,Tuesday,19,13,14,thunderstorm
3,4,Thrusday,21,8,14,sunny
4,5,Friday,16,7,18,fog
5,6,Saturday,21,11,11,fog
6,7,Sunday,22,21,14,rain

In [15]:
new_df.describe()

       Unnamed: 0  max temperature  min temperature  windspeed
count    7.000000         7.000000         7.000000   7.000000
mean     4.000000        19.571429        11.714286  12.714286
std      2.160247         2.070197         4.608481   3.302236
min      1.000000        16.000000         7.000000   8.000000
25%      2.500000        18.500000         9.000000  10.500000
50%      4.000000        20.000000        11.000000  14.000000
75%      5.500000        21.000000        12.500000  14.000000
max      7.000000        22.000000        21.000000  18.000000

In [16]:
new_df.set_index('days')

,Unnamed: 0,max temperature,min temperature,windspeed,Events
days,,,,,
Monday,1,18,10,10,Rain
Tuesday,2,19,13,14,thunderstorm
Wednesday,3,20,12,8,rain
Thrusday,4,21,8,14,sunny
Friday,5,16,7,18,fog
Saturday,6,21,11,11,fog
Sunday,7,22,21,14,rain

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   days             7 non-null      object
 2   max temperature  7 non-null      int64
 3   min temperature  7 non-null      int64
 4   windspeed        7 non-null      int64
 5   Events           7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [18]:
new_df.corr()

                 Unnamed: 0  max temperature  min temperature  windspeed
Unnamed: 0         1.000000         0.447214         0.401790   0.373815
max temperature    0.447214         1.000000         0.613927  -0.362213
min temperature    0.401790         0.613927         1.000000  -0.126727
windspeed          0.373815        -0.362213        -0.126727   1.000000

In [19]:
import numpy as np

In [20]:
def count():
    c=0
    for i in range(len(a)):
        c++
        
    
def max(a):
    for i in range (len(a)):
        

def min:
    

    
def describe:

SyntaxError: invalid syntax (1778867525.py, line 4)

In [ ]:
#creating a dataframe using dictionary
english=[20,30,40,56,78]
maths=[20,40,56,34,65]
science=[89,56,7,87,45]
name=['aman','ayush','tushar','shubham','sambhav']
marks={'name':name, 'english':english,'maths':maths,'science':science}
df1=pd.DataFrame(marks,index=range(1,6))

In [ ]:
df1

In [ ]:
df1.to_csv('marks.csv')

In [ ]:
new_df2=pd.read_csv('marks.csv')
new_df2

In [ ]:
new_df2['english'].max()

In [ ]:
new_df2.describe()