In [1]:
import pandas as pd

In [3]:
#creating a dataframe using a dictionary
max_temp=[18,19,20,21,16,21,22]
min_temp=[10,13,12,8,7,11,21]
days=['Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday','Sunday']
event=['Rain','thunderstorm','rain','sunny','fog','fog','rain']
windspeed=[10,14,8,14,18,11,14]
weather={'days':days, 'max temperature':max_temp, 'min temperature':min_temp,'windspeed':windspeed,'Events':event}
df=pd.DataFrame(weather,index=range(1,8))
df

        days  max temperature  min temperature  windspeed        Events
1     Monday               18               10         10          Rain
2    Tuesday               19               13         14  thunderstorm
3  Wednesday               20               12          8          rain
4   Thrusday               21                8         14         sunny
5     Friday               16                7         18           fog
6   Saturday               21               11         11           fog
7     Sunday               22               21         14          rain

In [86]:
def count(a):
    c=len(a)
    return c
        
    
def max(a):
    max=a[0]
    for i in range (len(a)):
        if a[i]>max:
            max=a[i]
    return max

def min(a):
    min=a[0]
    for i in range (len(a)):
        if a[i]<min:
            min=a[i]
    return min
def mean(a):
    sum=0
    for i in range(len(a)):
        sum=sum+a[i]
    s=sum/(len(a))
    return s



    
def describe():
    index=['count','max','min','mean']
    A=[count(max_temp),max(max_temp),min(max_temp),mean(max_temp)]
    B=[count(min_temp),max(min_temp),min(min_temp),mean(min_temp)]
    C=[count(windspeed),max(windspeed),min(windspeed),mean(windspeed)]
    D=[count(max_temp),max(max_temp),min(max_temp),mean(max_temp)]
    data={'index':index,'max temperature':A,'min temperature':B,'windspeed':C}
    df=pd.DataFrame(data)
    return df

In [89]:
describe()

   index  max temperature  min temperature  windspeed
0  count         7.000000         7.000000   7.000000
1    max        22.000000        21.000000  18.000000
2    min        16.000000         7.000000   8.000000
3   mean        19.571429        11.714286  12.714286

In [51]:
count(days)
count(min_temp)

7
7

In [52]:
max(max_temp)

22

In [53]:
mean(max_temp)

19.571428571428573

In [78]:
index=['count','max','min','mean']
A=[count(max_temp),max(max_temp),min(max_temp),mean(max_temp)]
B=[count(min_temp),max(min_temp),min(min_temp),mean(min_temp)]
C=[count(windspeed),max(windspeed),min(windspeed),mean(windspeed)]
D=[count(max_temp),max(max_temp),min(max_temp),mean(max_temp)]
data={'index':index,'max temperature':A,'min temperature':B,'windspeed':C}
df=pd.DataFrame(data)
df

   index  max temperature  min temperature  windspeed
0  count         7.000000         7.000000   7.000000
1    max        22.000000        21.000000  18.000000
2    min        16.000000         7.000000   8.000000
3   mean        19.571429        11.714286  12.714286